---
---

@import "{{ site.theme }}";

.page-header {
	background-image: url('../images/splash.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #597581;

	padding: 240px 0px;
}

.main-content {
	color: #88B700;
}

a {
    color: #597581;
}
