---
---

@import "{{ site.theme }}";

.page-header {
	background-image: url('../images/splash.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #597581;

	background-size: contain;
	height: 20em;

	/* TODO contain is not supported by all browsers, therefore a proper solution should be applied after debugging.
	padding: 240px 0px; */
}

.main-content {
	color: #597581 ;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: #88B700;
}

a {
	color: #597581;
}

hr {
	border: 1px solid #88B700 !important;
	height: 0px !important;
}

nav a::before {
	content: "\1F4DA "; /* Books */
	margin: 0 0.2rem;
}
